---
layout: base.njk
---

<div class="h-100 card border-primary border-opacity-50">
  <div class="card-img-top overflow-hidden" style="height: 100%;">
    <img src="{{ image }}" class="img-fluid w-100 h-100 object-fit-cover" alt="{{ alt }}" style="transition: transform 0.3s ease;">
  </div>
  <div class="card-body p-4">
    <div>
      <h1>{{ title }}</h1>
      {% if not hideEventDetails %}
        {% include "partials/event-details.njk" %}
      {% endif %}
      {{ content | safe }}
    </div>
    <div class="d-flex justify-content-center gap-3 my-4">
      {% include "partials/homeBtn.njk" %}
      <a href="/events/" class="btn btn-outline-primary">
        <i class="bi bi-calendar me-2"></i>All Events
      </a>
    </div>
  </div>
</div>